html,body {
	height:100%;
	padding: 0;
	margin: 0;
	font-family: "aloha";
}

.navbar {
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	border-style: none;
	color: white;
	background-color: white;
	opacity: 0.5;
	z-index: 10;
	border-radius: 0;
}
@font-face{
	font-family: myFirstFont;
	src: url (Aloha.otf);

}

img {
	margin: 6px;
	margin-top: 10px;

}

form {
	margin-left: 965px;
    box-sizing: border-box;
	margin-top: 250px;
	position:absolute; 	
}

/*h1{
	
	font-size: 40px;
	margin-top: 100px;
	text-decoration: overline;
	width: 100%;
	text-align: center;
	margin-top: -400px; */
	


h3{
	font-family: surfpoint;
	font-size: 70px;
}

.content{
    margin-right: 408px;
	margin-left: 400px;
	margin-top: -290px;
	margin-bottom: 100px;
}


/* Bas main intro page */

.jumbotron {
	background: url("../images/surf4.jpg") no-repeat center center; 
	height: 100%;
	text-align: center;
	font-weight: bold; 
	color: white;
	background-size: cover;
	margin-bottom: 0px;
	margin-right: -165px;
}

.intro {
	margin: 0 10% 0 10%;
}

.image-portfolio {
	float: left;
	display: inline-block;
	margin: 10px;
	width:250px;
	height:250px;
	cursor: pointer;
	border-radius: 5px;
}

.thumbnail {
	float: left;
	display: inline-block;
	margin: 10px; 
	width:300px;
	height:380px;
	border-color: none;
}

.thumbnail h5 {
	font-weight: bold;
}

.thumbnail p {
	margin: 1px 1px 1px 1px;
}

#image1 {
	background: url("../images/surf11.jpg") no-repeat center center;
	background-size:cover;
}

#image2 {
	background: url("../images/surf12.jpeg") no-repeat center center;
	background-size:cover;
}

.col-md-6 p {
	margin-right: 10px;
}


/* Kaan Main page Footer */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: initial;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 83px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.contactUs {
	color: white;
}


/* Products Page */
.boards {

	height: 700px;
}

.clothing {
	height: 700px;
	
}

.wetSuits {
	height: 700px;
	
}

.categoryHeader {
	font-size: 50px;
	color: grey;
	text-align: center;
	display: inherit;
	position: relative;
	padding-top: 55px;
	margin-top: 0px;
	z-index: -0;
	width: 100%;

}



div.img1 {
    margin: 5px;
    margin-top: 30px;   
    float: left;
    width: 24%;
    border-radius: 5px;
    background-color: white;
    position: relative;


}

div.img1:hover {
    
}

a {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a .img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

div.img img1 {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    background-position: center;
    

}

div.desc {
    padding: 15px;
    text-align: center;
    height: 60px;

}



.buyButton {
	background-color: #9BC53D;
	position: relative;	
	width:  100%;
	color: white;
	border-style: none;
	border-radius: 5px;
	height: 40px;
	font-size: 20px;
	opacity: 0;


}






.productPage {
	height: 600px;
}

.paypalPay{
	margin-left: 100px;
}




/*footer{
	position: fixed;
	bottom: 0;
}*/

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

} 